.section {
  min-height: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--primary-bg);
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.bgPrimary {
  background-color: var(--primary-bg);
}

.centered {
  text-align: center;
  margin: 0;
}

.mediumText{
  margin-top: 5px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: normal;
}

@media screen and (min-width: 1330px ){
  .largeText{
    font-size: 40px;
    font-family:"Abril Fatface", serif;
  }

}