.container{
    box-sizing: border-box;
    max-width: 400px;
    min-width: 280px;
    height: auto;  
    background-color: white;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 1rem;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.322));
}

.image{
    width: 80%;
    align-self: center;

}

.titleDesc{
    width: 100%;
    align-self: center;
}

.title{
    width: 100%;
    font-family: 'Helvetica';
    font-size: clamp(30px, 6vw, 35px);
    color: var(--secondary-dark);
    margin: 0;
    font-weight: bold;

}

.description{
    font-family: 'Helvetica';
    font-weight: normal;
    font-size: 20px;
    color: var(--secondary-dark);
}

.button{
    padding: 10px;
    border: 0;
    border-radius: 15px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.bgLight{
    background-color: var(--secondary-dark);
}

.bgDark{
    background-color: var(--primary-light);
}