.navigation{
    background-color: white;
    width: 100%;
    position:fixed;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    filter:drop-shadow(2px 2px 15px black);
    z-index: 1;
}

.navList{
    display: none;
}

.devName{
    margin: 0;
    text-align: center;
    font-family: 'Abril Fatface';

}