.swiper {
  width: auto;
  max-width: 100%;
  min-height: 650px;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-slide {
  padding: 20px;
  box-sizing: border-box;
  max-width: 380px;
  min-width: 320px !important;
  height: auto;
  /* padding-left: 30px; */
}
