/* Global CSS rules */

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-Bold.ttf");
  font-weight: bold;
}


:root {
  --primary-bg: #f2eeee;
  --primary-dark: #19272a;
  --secondary-dark: #506468;
  --primary-light: #fe5448;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

a{
  color: inherit;
}

h1 {
  font-size: 32px;
  margin-bottom: 3rem;
  font-family: "Abril Fatface", serif;
}

p {
  font-family: "Helvetica", sans-serif;
  max-width: 690px;
  font-size: 20px;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

